{% extends 'main.html' %}
{% block content %}
    {% if data.data %}
    <table class="table table-bordered">
        <tr>
          <th></th>
          <th>Service</th>
          <th>Room</th>
          <th>Master</th>
          <th>Time</th>
          <th>Price</th>
          <th></th>
        </tr>
    {% for item in data.data %}
        <tr>
            <td>{{ item.id }}    </td>
            <td>{{ item.sname }}</td>
            <td>{{ item.room }}</td>
            <td>{{ item.master }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.price }}</td>
        </tr>
    {% endfor %}
    </table>
        <a href="/create_order">Перейти к офрмлению заказа</a>

    <h2 class="text-success">Всего :{{ data.price }}</h2>
    {% else %}
        <h3 class="text-danger">Корзина пуста</h3>

        <a  class="btn-primary btn btn-lg" href="/">К услугам</a>
    {%  endif %}
{% endblock content%}