{% extends 'main.html' %}
{% block content %}

    <nav class="nav">
        <a class="nav-link {% if request.view_args.status_id != 1 %}active{% else %}disabled{% endif %}" href="/manage_orders/1">Подтвержденные</a>
        <a class="nav-link {% if request.view_args.status_id != 2 %}active{% else %}disabled{% endif %}" href="/manage_orders/2">В реализации</a>
        <a class="nav-link {% if request.view_args.status_id != 3 %}active{% else %}disabled{% endif %}" href="/manage_orders/3">Отклонены</a>
        <a class="nav-link {% if request.view_args.status_id != 4 %}active{% else %}disabled{% endif %}" href="/manage_orders/4">Завершены</a>
        <a class="nav-link {% if  request.view_args.status_id  != 5 %}active{% else %}disabled{% endif %}" href="/manage_orders/5">Оплачены</a>
    </nav>

        <table class="table table-bordered">
            <tr>
                <th>ФИО</th>
                <th>Номер телефона</th>
                <th>Услуги</th>
                <th>Тип оплаты</th>
                <th>Время проведения</th>
                <th>Цена</th>
                <th></th>
            </tr>
        {% if data %}
            {% for item in data %}
                <tr>
                    <td>{{ item.fio }}</td>
                    <td>{{ item.phone }}</td>
                    <td>
                        {% for serv in item.services %}
                            {{ serv }}
                            {% endfor %}
                    </td>
                    <td>{{ item.payment_type}}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <form method="post" action="/manage_orders/{{ status_id }}?ord_id={{ item.id }}">
                            {{ wtf.quick_form(form) }}
                        </form>

                    </td>
                </tr>
            {% endfor %}
         {% endif %}
        </table>
{% endblock content %}