{% extends 'main.html' %}
{% block content %}
{% if data %}
    <table class="table table-bordered">
        <tr>
          <th></th>
          <th>Услуга</th>
          <th>Кабинет</th>
          <th>Мастер</th>
          <th>Время</th>
          <th>Цена</th>
          <th></th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{ item.id }}    </td>
            <td>{{ item.sname }}</td>
            <td>{{ item.room }}</td>
            <td>{{ item.master }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.price }}</td>
            <td>
                <form method="post" action="/add_to_cart/{{ item.id }}">
                <button>add to cart</button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

    <a href="/view_cart"> В корзину</a>

{% endblock content %}